html {
    font-family: Roboto, Sans-Serif;
    color: #444;
}

a {
    color: #060;
    text-decoration: underline;
}
a:hover {
    color: #090;
}

.airbnb {
    display: inline-block;
    text-indent: -8000px;
    background: #ff5a5f url('img/airbnb_logo_detail.png') center/contain no-repeat;
    width: 139px;
    height: 52px;
}

.figure .location {
    display: block;
    font-size: 1rem;
    font-weight: 500;
}

strong {
    font-weight: 500;
}

.header {
    line-height: 1.25;
    margin-bottom: 1rem;
    text-shadow: 0 0 8px rgb(255,255,255);
}

.header a {
    text-decoration: none;
}

@media screen {
    .container {
        display: flex;
    }
    .article {
        background-color: #fefefe;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #080;
    }
    .figure {
        display: flex;
        align-items: flex-end;
        background: #f3fff3 url('img/kipfer-faulensee-haus.jpg') 80% 50% no-repeat;
        background-size: cover;
        padding: 2vh 1rem;
        position: fixed;
        top: 0; left: 0;
        bottom: 0; right: 0;
    }
    .figure:after {
        display: block;
        content: '';
        background: -webkit-linear-gradient( rgba(255,255,255,0) 35%, rgba(255,255,255,.85) 65%, rgba(255,255,255,1) 100%);
        background: linear-gradient( rgba(255,255,255,0) 35%, rgba(255,255,255,.85) 65%, rgba(255,255,255,1) 100%);
        position: absolute;
        z-index: 0;
        top: 0; left: 0;
        bottom: 0; right: 0;
    }
    .figure .inner {
        position: relative;
        z-index: 1;
    }
}

@media screen and (min-width: 667px) and (min-height: 375px){
    .figure:after {
        background: -webkit-linear-gradient( rgba(255,255,255,0) 25%, rgba(255,255,255,.9) 65%, rgba(255,255,255,1) 100%);
        background: linear-gradient( rgba(255,255,255,0) 25%, rgba(255,255,255,.9) 65%, rgba(255,255,255,1) 100%);
    }
}

@media screen and (min-width: 768px) and (min-height: 768px){
    .figure {
        background-position: 75% 50%;
    }
    .figure:after {
        background: -webkit-linear-gradient( rgba(255,255,255,0) 50%, rgba(255,255,255,.9) 85%, rgba(255,255,255,1) 100%);
        background: linear-gradient( rgba(255,255,255,0) 50%, rgba(255,255,255,.9) 85%, rgba(255,255,255,1) 100%);
    }
}

@media screen and (min-width: 1280px) and (min-height: 800px){
    html {
        min-height: 100vh;
        background: -webkit-radial-gradient(#999, #fff);
        background: radial-gradient(#eee, #fff);
    }
    .figure {
        width: 1024px;
        height: 768px;
        position: absolute;
        top: 50%; left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    }
    .figure:after {
        background: -webkit-linear-gradient( rgba(255,255,255,0) 50%, rgba(255,255,255,.9) 65%, rgba(255,255,255,1) 100%);
        background: linear-gradient( rgba(255,255,255,0) 50%, rgba(255,255,255,.8) 80%, rgba(255,255,255,1) 100%);
    }
}
