html {
    font-family: Roboto, Sans-Serif;
    color: #444;
}

a {
    color: #060;
    text-decoration: underline;
}
a:hover {
    color: #090;
}

.airbnb {
    display: inline-block;
    text-indent: -8000px;
    background: #ff5a5f url('img/airbnb_logo_detail.png') center/contain no-repeat;
    width: 139px;
    height: 52px;
}

.figure .location {
    display: block;
    font-size: 1rem;
}

strong {
    font-weight: 500;
}

.header {
    line-height: 1.25;
    margin-bottom: 1rem;
}

.header a {
    text-decoration: none;
}

@media screen {
    .article {
        background-color: #fefefe;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #080;
    }
    .figure {
        background: #f3fff3 url('img/kipfer-faulensee-haus.jpg') 70% 50% no-repeat;
        background-size: cover;
        padding: 2vh 1rem;
        position: fixed;
        top: 0; left: 0;
        bottom: 0; right: 0;
    }
    .figure:after {
        display: block;
        content: '';
        background: -webkit-linear-gradient( transparent 50%, rgba(255,255,255,.9) 80%, rgba(255,255,255,1) 100%);
        background: linear-gradient( transparent 50%, rgba(255,255,255,.9) 80%, rgba(255,255,255,1) 100%);
        position: absolute;
        z-index: 0;
        top: 0; left: 0;
        bottom: 0; right: 0;
    }
    .figure .inner {
        position: relative;
        z-index: 1;
    }
}

@media screen and (min-width: 768px) and (min-height: 768px){
    .container {
        display: flex;
    }
    .article {
        max-width: 48rem;
        margin: 0 auto;
        padding: 2vh 1rem;
    }
    .figure {
        display: flex;
        flex-basis: 35%;
        min-height: 100%;
        min-height: 100vh;
        align-items: flex-end;
    }
    .figure .header {

    }
    .main {
        flex-basis: 65%;
        min-height: 100%;
        min-height: 100vh;
    }
}
